/* Reset dan dasar styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

/* Header styling */
header {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #028A56;
}

/* Navigasi */
nav ul {
    list-style: none;
    display: flex;
    margin-right: auto; /* Menyebabkan navigasi ada di kiri */
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Tombol Login */
.auth-buttons {
    margin-left: auto; /* Menyebabkan tombol login ada di kanan */
}

.auth-buttons button {
    background-color: #028A56;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Bagian Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAF5F2;
    padding: 50px;
}

.hero-text h1 {
    font-size: 36px;
    color: #333;
}

.hero-text p {
    margin: 20px 0;
    color: #666;
}

/* Tombol Hero Section */
.buttons button {
    background-color: #028A56;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Produk */
.products {
    background-color: white;
    padding: 50px;
    text-align: center;
}

.products h2 {
    margin-bottom: 30px;
    font-size: 28px;
}

/* Daftar Produk */
.product-list {
    display: flex;
    justify-content: space-between;
}

.product-item {
    width: 18%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-item img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.product-item p {
    font-size: 14px;
    color: #333;
}

.product-item strong {
    font-size: 16px;
}

/* Footer */
footer {
    background-color: #EAF5F2;
    padding: 50px;
    margin-top: 50px;
}

/* Struktur Footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo h2 {
    font-size: 24px;
    color: #028A56;
}

/* Isi Footer */
.footer-content {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.customer-care, .account, .social-media {
    width: 30%;
}

.customer-care p, .account p, .social-media p {
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Footer Bawah */
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

/* Ikon Sosial Media */
.social-icons {
    display: flex;
}

.social-icons a {
    margin-right: 15px;
}

.account {
   text-decoration: none; 
}
